.table {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}
.table-body {
  tr {
    height: 45px;
    text-align: center !important;
    
    td {
      padding: 0 5px 0 5px;
      vertical-align: middle;
      white-space: normal;
    }
  }
}

.table {
  tr {
    th {
      text-align: center !important;
    }
  }
}

.table-header{
  text-align: center;
  background-color: #5e35b1 !important;
  color: #fff !important;
  padding: 7px 0 7px 0;
}

.table-history {
  width: 1040px;
  margin: 0 auto;
  padding: 16px 0;
}
